.image {
  height: 150px;
}
.movies-container {
  display: flex;
  flex-wrap: wrap;
}
.movie-content {
  border: 2px solid black;
  width: 150px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding-top: 10px;
}

/* look up how to show the full title on hover (doesnt expand the title where it is on the page) */

.title-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 125px;
}

.popup-container{
  height:100vh;
  width:100vw;
  background-color:rgba(0,0,0,.8);
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:2;
}

.button-picture{
  position:relative;
  z-index:1;
 
}

.button-positioning {
  position:absolute;
  right:-10px;
  top:-10px;
  border-radius:5px;
}

.icon {
  color:grey;
  font-size:1rem;
}

.popup {
  background-color:lightgreen;
  display:flex;
  flex-direction:column;
  align-items:center;
  width:50%;
}




/* Must look into how to limit paragraph to a certain height. Issue: posters are being pushed up and not aligned to the same height
position absolute maybe for the pictures? */

/* *********Also look into why filter isn't returning the objects we want specifically */

/* p {
    text-overflow: ellipsis; 
    
    white-space: nowrap; /
} */
/* paragraph to one line 
 will make [...] at the end  */
