/* You can add global styles to this file, and also import other style files */
body {
    background-color:lightgrey;
    font-family: 'Bangers', cursive;
}

p, img, div, button {
    margin: 0;
    padding:0;
}

.icon {
    padding:2px;
  }
  